.site-layout-content {
  min-height: 580px;
  padding: 24px;
  background: #fff;
}

.title {
  text-align: center;
  font-size: 35px;
}

.component_text {
  font-size: 20px;
}

.code {
  background-color: #141414;
  color: #fff;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.code pre {
  margin: 0;
}
